name: Run ESLint on your changes only

on:
  pull_request:
    paths-ignore:
      - "**.md"

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install modules
        run: pnpm install --frozen-lockfile
      - name: Link the plugin
        run: |
          pnpm link --global
          pnpm link --global "eslint-plugin-diff"
      - name: Run ESLint on your changes only
        run: pnpm run lint
